<!DOCTYPE html>
<html
        xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "fragments/header :: header">
<body>
    <div class="container">
        <div th:replace="/fragments/nav.html::nav"></div>
        <div class="row">
            <h2>인기 강의</h2>
        </div>

        <div class="row">
            <th:block th:if ="${popularCourses}">
                <div class="card" th:each="course: ${popularCourses}">
                    <img class="card-img-top" th:src="${course.cover}" alt="Card image cap"
                        style="height:50%;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a th:text="${course.title}" th:href="'/course/'+${course.courseId}" style="color:black"></a>
                        </h5>
                        <p class="card-text" style="font-weight:bold;" th:text="${course.lecturer}"></p>
                        <p class="card-text" th:text="${course.numStudent} + '명이 수강 중'"></p>
                    </div>
                </div>
            </th:block>
        </div>

    </div>

<!--    <a href="/course/register">강의등록</a>-->
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>
    function temp1(){
        alert(1)
    }
    function temp2(){
        const url = new URL(document.location.href)

        document.location.href = '/login?from=' + url.pathname
    }
</script>
</html>