<!DOCTYPE html>
<html
        xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "fragments/header :: header">
<body>
<input id="pagingBase" type="hidden" value="/lecturer">
<div class="container">
    <div th:replace="/fragments/nav_lecturer.html::nav"></div>

    <div class="row">
        <div class="col-2" style="border-right: 1px solid;">
            <h3>카테고리</h3>
            <ul th:replace="fragments/paging/category::category"></ul>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-7">
                    <h3>내가 쓴 글 - {카테고리}</h3>
                </div>
                <div class="col-5">
                    <a href="/course/register" style="float:right;">새 강의 등록</a>
                </div>
            </div>
            <div class="row">
                <div th:replace="fragments/paging/sorting::sorting"></div>
                <div class="col-7">
                    <button style="float:right" onclick="search()">검색</button>
                    <input id = "searchKey" type="text" placeholder="강의명 검색" style="float:right" th:value="${courseSearchDto.search}">
                </div>
            </div>
            <div class="row" style="justify-content:center;">
                <div th:replace ="fragments/course/preview::managePreview"></div>
            </div>
            <div class="row" style="justify-content:center">
                <nav th:replace = "fragments/paging/pagingNav::pagingNav"></nav>
            </div>
        </div>
    </div>
    </div>
</div>
<div th:replace="fragments/paging/pagingForm::pagingForm"></div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/paging.js"></script>
</html>